In [2]:
import pandas as pd

In [35]:
df = pd.read_excel('larger_data.xlsx')

In [37]:
df.head()

,age,income,gender_male,ethnicity_non hispanic,race_Mexican,race_asian,race_black,race_multiracial,race_native american,race_white,...,employment_Self employed,employment_Student,employment_Unemployed,language_english,language_spanish,language_undisclosed,disability_undisclosed,choice_Original,choice_Persuasive,choice_Simplier
0,3,0,False,False,False,False,False,False,True,False,...,False,False,False,True,False,False,False,True,False,False
1,1,2,True,True,False,False,True,False,False,False,...,False,False,True,False,True,False,False,False,False,True
2,3,0,True,False,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,True
3,4,1,False,True,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,True,False
4,1,0,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [38]:
df.shape

(280, 31)

In [30]:
df.columns.tolist()

['age',
 'income',
 'gender_male',
 'gender_non binary',
 'ethnicity_non hispanic',
 'race_Mexican',
 'race_Puerto Rican ',
 'race_asian',
 'race_black',
 'race_multiracial',
 'race_native american',
 'race_undisclosed',
 'race_white',
 'education_Bachelor',
 'education_Doctorate',
 'education_High School',
 'education_Master',
 'education_less than high school',
 'education_undisclosed',
 'marital_status_married',
 'marital_status_separated',
 'marital_status_single',
 'marital_status_undisclosed',
 'marital_status_widowed',
 'employment_Employed Part time',
 'employment_Retired',
 'employment_Self employed',
 'employment_Student',
 'employment_Unemployed',
 'language_english',
 'language_spanish',
 'language_undisclosed',
 'disability_undisclosed',
 'choice_Original',
 'choice_Persuasive',
 'choice_Simplier']

In [8]:
import matplotlib.pyplot as plt
from scipy.stats import pearsonr