In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline
import pandas as pd

# Load the data
df = pd.read_excel('larger_data.xlsx')

In [2]:
df.head()

,age,income,gender_male,ethnicity_non hispanic,education_Bachelor,education_High School,education_Master,education_less than high school,education_undisclosed,employment_Employed Part time,employment_Retired,employment_Self employed,employment_Student,employment_Unemployed,disability_undisclosed,choice_Original,choice_Persuasive,choice_Simplier
0,3,0,False,False,True,False,False,False,False,True,False,False,False,False,False,True,False,False
1,1,2,True,True,True,False,False,False,False,False,False,False,False,True,False,False,False,True
2,3,0,True,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True
3,4,1,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4,1,0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
rf_classifier = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=42)