In [7]:
import pandas as pd

In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\owner\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\owner\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\owner\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\owner\anaconda3\lib\site-packages (from pandas) (1.20.0)
Requirement already satisfied: six>=1.5 in c:\users\owner\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)

In [18]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\owner\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\owner\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)

In [23]:
import sqlite3

In [24]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\owner\anaconda3\lib\site-packages (8.0.32)
Collecting protobuf<=3.20.3,>=3.11.0 (from mysql-connector-python)
  Downloading protobuf-3.20.3-cp39-cp39-win_amd64.whl (904 kB)
     -------------------------------------- 904.2/904.2 kB 1.0 MB/s eta 0:00:00
Installing collected packages: protobuf
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.25.1
    Uninstalling protobuf-4.25.1:
      Successfully uninstalled protobuf-4.25.1
Successfully installed protobuf-3.20.3
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)

In [26]:
import mysql.connector

# Replace with your MySQL database connection details
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '7845',
    'database': 'survey',
}

# Establish the MySQL connection
conn = mysql.connector.connect(**db_config)

## Mock Data Transformer

In [28]:
# Replace 'your_query' with your actual SQL query
query = 'SELECT *FROM users JOIN options_selected ON users.id = options_selected.id'
df = pd.read_sql_query(query, conn)

# Close the MySQL connection
conn.close()

# Replace 'output_file.xlsx' with your desired Excel file name
output_file = 'output_file.xlsx'
df.to_excel(output_file, index=False)

In [29]:
data = pd.read_excel('output_file.xlsx')

In [43]:
data.head(2)

,age,gender,ethnicity,race,education,marital_status,income,employment,language,disability,...,id.1,sample_options_id,sample_1,sample_2,sample_3,sample_4,sample_5,sample_6,sample_7,sample_8
0,45-54,female,hispanic,native american,Bachelor,single,"Less than $25,000",Employed Part time,english,i do not have a disability,...,1,1,Original,Persuasive,Empathetic,Simplier,Persuasive,Empathetic,Simplier,Simplier
1,25-34,male,non hispanic,black,Bachelor,widowed,"$50,000 - $74,999",Unemployed,spanish,i do not have a disability,...,2,2,Simplier,Empathetic,Empathetic,Empathetic,Empathetic,Empathetic,Persuasive,Persuasive

In [31]:
data = data.drop(['id', 'sample_1_text','sample_2_text','sample_3_text','sample_4_text','sample_5_text',
              'sample_6_text','sample_7_text','sample_8_text', 'start_time', 'end_time'], axis=1)

In [32]:
data.head(3)

,age,gender,ethnicity,race,education,marital_status,income,employment,language,disability,...,id.1,sample_options_id,sample_1,sample_2,sample_3,sample_4,sample_5,sample_6,sample_7,sample_8
0,45-54,female,hispanic,native american,Bachelor,single,"Less than $25,000",Employed Part time,english,i do not have a disability,...,1,1,Original,Persuasive,Empathetic,Simplier,Persuasive,Empathetic,Simplier,Simplier
1,25-34,male,non hispanic,black,Bachelor,widowed,"$50,000 - $74,999",Unemployed,spanish,i do not have a disability,...,2,2,Simplier,Empathetic,Empathetic,Empathetic,Empathetic,Empathetic,Persuasive,Persuasive
2,45-54,male,hispanic,white,less than high school,single,"Less than $25,000",Employed Full time,english,i do not have a disability,...,3,3,Simplier,Original,Empathetic,Persuasive,Persuasive,Empathetic,Original,Original

In [47]:
df = pd.read_excel('Official_Data.xlsx')

In [48]:
df = df.drop(['id', 'sample_1_text','sample_2_text','sample_3_text','sample_4_text','sample_5_text',
              'sample_6_text','sample_7_text','sample_8_text', 'start_time', 'end_time','Unnamed: 0'], axis=1)

In [49]:
df.head(3)

,age,gender,ethnicity,race,education,marital_status,income,employment,language,disability,...,id.1,sample_options_id,sample_1,sample_2,sample_3,sample_4,sample_5,sample_6,sample_7,sample_8
0,45-54,female,non hispanic,native american,High School,na,"$25,000 - $49,999",Employed Part time,both,i do not have a disability,...,1,1,Persuasive,Simplier,Empathetic,Persuasive,Original,Original,Persuasive,Original
1,18-24,male,hispanic,white,High School,single,"Less than $25,000",Employed Part time,english,i do not have a disability,...,2,2,Original,Simplier,Empathetic,Simplier,Simplier,Original,Original,Persuasive
2,25-34,female,non hispanic,multiracial,Associate,single,"Less than $25,000",Student,english,i do not have a disability,...,3,3,Original,Original,Simplier,Simplier,Empathetic,Empathetic,Empathetic,Simplier

In [51]:
df.shape

(15, 21)

## Combine datasets

In [52]:
final_data = pd.concat([df, data], ignore_index=True)

In [53]:
final_data.columns

Index(['age', 'gender', 'ethnicity', 'race', 'education', 'marital_status',
       'income', 'employment', 'language', 'disability', 'states', 'id.1',
       'sample_options_id', 'sample_1', 'sample_2', 'sample_3', 'sample_4',
       'sample_5', 'sample_6', 'sample_7', 'sample_8'],
      dtype='object')

## Check dataset

In [54]:
df.shape

(15, 21)

In [55]:
data.shape

(35, 21)

In [56]:
final_data.shape

(50, 21)