In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\owner\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\owner\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\owner\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\owner\anaconda3\lib\site-packages (from pandas) (1.20.0)
Requirement already satisfied: six>=1.5 in c:\users\owner\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\owner\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\owner\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)

In [4]:
import sqlite3

In [5]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\owner\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\owner\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -atplotlib (c:\users\owner\anaconda3\lib\site-packages)

In [6]:
import mysql.connector

# Replace with your MySQL database connection details
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '7845',
    'database': 'survey',
}

# Establish the MySQL connection
conn = mysql.connector.connect(**db_config)

## Mock Data Transformer

In [7]:
# Replace 'your_query' with your actual SQL query
query = 'SELECT *FROM users JOIN options_selected ON users.id = options_selected.id'
df = pd.read_sql_query(query, conn)

# Close the MySQL connection
conn.close()

# Replace 'output_file.xlsx' with your desired Excel file name
output_file = 'second dataset.xlsx'
df.to_excel(output_file, index=False)

In [8]:
data = pd.read_excel('second dataset.xlsx')

In [9]:
data.head(2)

,id,age,gender,ethnicity,race,education,marital_status,income,employment,language,...,sample_4,sample_4_text,sample_5,sample_5_text,sample_6,sample_6_text,sample_7,sample_7_text,sample_8,sample_8_text
0,1,45-54,female,hispanic,native american,Bachelor,single,"Less than $25,000",Employed Part time,english,...,Simplier,"Every Tuesday, Wednesday, and Thursday, people...",Persuasive,Last Friday held a touching moment for East Ha...,Empathetic,It's heart-wrenching to acknowledge that when ...,Simplier,Part of what makes food insecurity so difficul...,Simplier,Tomorrow represents a tough turning point for ...
1,2,25-34,male,non hispanic,black,Bachelor,widowed,"$50,000 - $74,999",Unemployed,spanish,...,Empathetic,In the face of the imminent expiration of cruc...,Empathetic,When women and girls cant access the period an...,Empathetic,Our trucks deliver #freshproduce and shelf-sta...,Persuasive,"At the Food Bank For New York City, we underst...",Persuasive,"Don't miss this! Last month, Food Bank For New..."

In [10]:
data = data.drop(['id', 'sample_1_text','sample_2_text','sample_3_text','sample_4_text','sample_5_text',
              'sample_6_text','sample_7_text','sample_8_text', 'start_time', 'end_time'], axis=1)

In [11]:
data.head(3)

,age,gender,ethnicity,race,education,marital_status,income,employment,language,disability,...,id.1,sample_options_id,sample_1,sample_2,sample_3,sample_4,sample_5,sample_6,sample_7,sample_8
0,45-54,female,hispanic,native american,Bachelor,single,"Less than $25,000",Employed Part time,english,i do not have a disability,...,1,1,Original,Persuasive,Empathetic,Simplier,Persuasive,Empathetic,Simplier,Simplier
1,25-34,male,non hispanic,black,Bachelor,widowed,"$50,000 - $74,999",Unemployed,spanish,i do not have a disability,...,2,2,Simplier,Empathetic,Empathetic,Empathetic,Empathetic,Empathetic,Persuasive,Persuasive
2,45-54,male,hispanic,white,less than high school,single,"Less than $25,000",Employed Full time,english,i do not have a disability,...,3,3,Simplier,Original,Empathetic,Persuasive,Persuasive,Empathetic,Original,Original

In [12]:
df = pd.read_excel('initial dataset.xlsx')

In [13]:
df = df.drop(['id', 'sample_1_text','sample_2_text','sample_3_text','sample_4_text','sample_5_text',
              'sample_6_text','sample_7_text','sample_8_text', 'start_time', 'end_time','Unnamed: 0'], axis=1)

In [14]:
df.head(3)

,age,gender,ethnicity,race,education,marital_status,income,employment,language,disability,...,id.1,sample_options_id,sample_1,sample_2,sample_3,sample_4,sample_5,sample_6,sample_7,sample_8
0,45-54,female,non hispanic,native american,High School,na,"$25,000 - $49,999",Employed Part time,both,i do not have a disability,...,1,1,Persuasive,Simplier,Empathetic,Persuasive,Original,Original,Persuasive,Original
1,18-24,male,hispanic,white,High School,single,"Less than $25,000",Employed Part time,english,i do not have a disability,...,2,2,Original,Simplier,Empathetic,Simplier,Simplier,Original,Original,Persuasive
2,25-34,female,non hispanic,multiracial,Associate,single,"Less than $25,000",Student,english,i do not have a disability,...,3,3,Original,Original,Simplier,Simplier,Empathetic,Empathetic,Empathetic,Simplier

## Combine prior and new datasets

In [15]:
final_data = pd.concat([df, data], ignore_index=True)

In [16]:
final_data.columns

Index(['age', 'gender', 'ethnicity', 'race', 'education', 'marital_status',
       'income', 'employment', 'language', 'disability', 'states', 'id.1',
       'sample_options_id', 'sample_1', 'sample_2', 'sample_3', 'sample_4',
       'sample_5', 'sample_6', 'sample_7', 'sample_8'],
      dtype='object')

## Check datasets

In [17]:
df.shape

(15, 21)

In [18]:
data.shape

(35, 21)

In [19]:
final_data.shape

(50, 21)

## Export dataset for data analysis

In [21]:
final_data.to_excel('final_data.xlsx', index=False)